<div class="main-wrapper"> 
	<div class="row">
		<article class="span8 offset2">
			<form id="createFrom" class="theForm form-horizontal">
				<h3>Create New Post</h3>
				<div>
					<input type="text" id="theTitle" class="span7" placeholder="Title">
					<br><br>
					<textarea rows="10" class="span7" id="theContent" placeholder="Type Content Here..."></textarea>
					<br><br>
					<button id="thePublish" class="btn btn-large"><i class="icon-flag"></i>  Publish</button>
				</div>
			</form>
		</article>
	</div>
</div>