<div class="main-wrapper"> 
	<div class="row">
		<article class="span6 offset3">
			<form id="loginFrom" class="theForm form-horizontal">
				<h3 class="text-center">Please Login Here</h3>
		    <div class="control-group">
			    <label class="control-label" for="inputEmail">Username</label>
			    <div class="controls">
			    	<input type="text" id="inputUsername" placeholder="Username">
			    </div>
		    </div>
		    <div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			    	<input type="password" id="inputPassword" placeholder="Password">
			    </div>
		    </div>
		    <div class="control-group">
			    <div class="controls">
			    	<button type="submit" class="btn"><i class="icon-rocket"></i>  Log In</button>
			    </div>
		    </div>
	    </form>
		</article>
	</div>
</div>